<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site Flask{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="navbar">
        <a href="{{ url_for('accueil') }}">Accueil</a>
        <a href="{{ url_for('page_ciel') }}">CIEL</a>
        <a href="{{ url_for('page_snir') }}">SNIR</a>
        <a href="{{ url_for('page_etudes_sup') }}">Études Supérieures</a>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
